<!-- Services section-->
<section class="bg-light" id="services">
  <div class="container px-4">
      <div class="row gx-4 justify-content-center">
          <div class="col-lg-8">
              <h2>Serviços</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>

              <!-- Coin List-->
              <app-coin-list></app-coin-list>
              <!-- Coin convert-->
              <app-coin-convert></app-coin-convert>
              <!-- Conversion history-->
              <app-conversion-history></app-conversion-history>

          </div>
      </div>
  </div>

</section>
